{% extends "layout.html" %}
{% block title %}{{data.titulo}}{% endblock %}
{% block body %}
<h1>{{data.bienvenida}}</h1>
    {%if data.nro_frutas > 0%}
        <ul>
            <!-- Utilizando la plantilla de JINJA2 -->
            {%for fruta in data.frutas%}
            <li>{{fruta}}</li>
            {%endfor%}
        </ul>
    {% else %}
        <h2>No existen cursos</h2>
    {% endif %}
{% endblock %}